<!DOCTYPE>
<html>
    <head>
        <title>{{meta_title}}</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{{meta_description}}" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/assets/css/default.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/assets/img/logo.ico">
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <header id="header"{{#if @blog.cover}} style="background-image: url('{{@blog.cover}}')"{{/if}}>
            <div class="container">
                <nav id="navigation">
                    <ul>
                        {{#if @blog.logo}}
                            <li id="logo">
                                <a href="/">
                                    <img src="{{@blog.logo}}">
                                </a>
                            </li>
                        {{/if}}
                        <li><a href="/#/about">About</a></li>
                        <li><a href="/#/portfolio">Portfolio</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container main">
            <div class="content" id="content">
                {{{body}}}
            </div>
            <footer id="footer">
                <ul class="social">
                    <li><a href="/rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="https://www.facebook.com/mrboolean" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://dribbble.com/mr_boolean" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="http://twitter.com/mr_boolean" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/MrBoolean" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/bindermarc" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <ul class="legal">
                    <li>All rights reserved &copy; Marc Binder</li>
                    <li><a href="/#/imprint">Imprint</a></li>
                </ul>
            </footer>
        </div>
        <script data-main="/assets/js/initialize" src="/assets/vendor/requirejs/require.js"></script>
    </body>
</html>